<div class="row">
    <div class="col-12">
        <div class="card">
            
            
            <div class="card-content collapse-show">
                <div class="card-body">
                    <div class="row">
                        
                    </div>
                    <br>
                    
                        <div class="row">
                            <h4>Gifs:</h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-md-3" *ngFor="let gif of apiData">
                                <iframe [src]="sanitizeUrl(gif.gifurl)" frameborder="1" class="w-50"></iframe>
                                <button  type="submit" style="cursor: pointer;" type="submit" class="btn btn-danger w-100"  (click)="eliminarFavorito(gif.id)">                                        
                                    <i class="fa fa-cross font-custom"> <span style="font-family: sans-serif;"> Eliminar de favoritos</span></i>                                        
                                </button>
                                
                             </div>
                        </div>
                        
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>

